
@font-face {
    font-family: 'freightbold';
    src: url('../fonts/freight/freight_sans_bold-webfont.woff2') format('woff2'),
         url('../fonts/freight/freight_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'freightsans_book';
    src: url('../fonts/freight/freight_sans_book-webfont.woff2') format('woff2'),
         url('../fonts/freight/freight_sans_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} 

@font-face {
    font-family: 'freightregular';
    src: url('../fonts/freight/freight_sans_medium-webfont.woff2') format('woff2'),
         url('../fonts/freight/freight_sans_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/open/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/open/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/open/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/open/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/open/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1,h2,h3,h4,h5,h6{margin:0px; padding:0px;} 
a:hover,a:focus{ text-transform:none; text-decoration:none;}
body{ margin:0px; padding:0px;}
.top-bar{ background:#efefef; padding:15px 0;}
.top-bar-left h2{ color:#464646; font-size:22px;  font-family: 'freightbold'; padding-top:4px;}
.top-bar-right ul{list-style:none; margin:0px; padding:0px;}
.top-bar-right ul li{ display:inline-block; padding:0 6px; margin-top:5px;}
.top-bar-right ul li a{font-size:22px; color:#464646; font-family: 'freightbold';}
.top-bar-right ul li a:hover{ color:#578aa2;}
.top-bar-right ul li.first i{padding:0 10px 0 0;}
.top-bar-right ul li.last{padding:0 0 0 25px; position:relative; margin:4px 0 0 0; float:right;}
.top-bar-right ul li input{font-family: 'freightsans_book'; font-size:18px; text-transform:capitalize; color:#636363; width:230px; height:30px; padding:0 35px 0 5px; background:#fff; border:1px solid #e3e4e8; border-radius:3px;}
.top-bar-right ul li input.serach-button{ border:none; width:auto; background:url(../images/search.png); background-position:right; background-repeat:no-repeat; padding:0px; position:absolute; right:10px; font-size:0px;  width:17px; top:0px;}
.top-bar-right{ text-align:right;}
.top-bottom .logo{padding:10px 0;}
.menu-bar ul{ list-style:none; padding:0px;}
.menu-bar #mega-menu-wrap-primary.mega-menu-wrap{ background:none;}
.menu-bar #mega-menu-wrap-primary #mega-menu-primary {padding:0px; text-align:right;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li a{ padding:37px 30px; height:auto; color:#464646; font-size:16px; text-transform:uppercase;  font-family: 'open_sansbold';}
/*body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li:last-child a{padding-right:0px;}*/
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li.mega-current-menu-item a{ background:#578aa2;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li a.mega-menu-link:hover{ background:#578aa2; transition: all 500ms ease;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-current_page_ancestor a{ background:none; color:#464646; position:relative;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-current_page_ancestor a:hover{ background:#578aa2; color:#fff; transition: all 500ms ease;}  
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item a:after{ display:none;}
.home-banner img{ width:100%;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li .mega-sub-menu {padding:20px 12%; margin:0px; background: #efefef;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li .mega-sub-menu li.mega-menu-item a.mega-menu-link{ color:#464646; font-size:18px;
font-family: 'freightsans_book'; font-weight:700; text-transform:capitalize; background:none; }
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li .mega-sub-menu li .mega-sub-menu{padding:0px; margin-top:0px; padding-top:20px;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li .mega-sub-menu li .mega-sub-menu li.mega-menu-item a.mega-menu-link{ color:#464646;
font-size:18px; font-family: 'freightsans_book'; border:none!important; padding-bottom: 0px !important;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li .mega-sub-menu li .mega-sub-menu li.mega-menu-item a.mega-menu-link:hover{ color:#578aa2;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li .mega-sub-menu li .mega-sub-menu li.mega-menu-item.view-button a{ background:#fff;
padding:5px 25px!important; float:left; width:auto; color:#578aa2; font-size:14px;font-family: 'freightsans_book'; font-weight:600; text-transform:uppercase; border:none;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li .mega-sub-menu li .mega-sub-menu li.mega-menu-item.view-button{margin-top:25px;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li .mega-sub-menu li .mega-sub-menu li.mega-menu-item.view-button a:hover{ font-weight:600; background:#578aa2;color:#fff; transition: all 500ms ease;}

body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li .mega-sub-menu  li.heading-border a{ border-bottom:1px solid #578aa2!important; padding-bottom:10px!important;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li .mega-sub-menu  li.green-border a.mega-menu-link{ border-bottom:5px solid #a5c2a9; padding-bottom:10px;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li .mega-sub-menu  li.orange-border a.mega-menu-link{ border-bottom:5px solid #f4bc49; padding-bottom:10px;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li .mega-sub-menu  li.sky-border a.mega-menu-link{ border-bottom:5px solid #578aa2; padding-bottom:10px;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li .mega-sub-menu  li.green-border .mega-sub-menu li a.mega-menu-link:hover{ color:#a5c2a9;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li .mega-sub-menu  li.orange-border .mega-sub-menu li a.mega-menu-link:hover{ color:#f4bc49;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li .mega-sub-menu  li.sky-border .mega-sub-menu li a.mega-menu-link:hover{ color:#578aa2;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children.mega-toggle-on a{ background:#578aa2; color:#fff; position:relative;}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children.mega-toggle-on a::before{ position:absolute; content:""; height:10px; width:10px; bottom:0px; left:0; right:0; margin:auto; border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid #efefef;
}
body .top-bottom .menu-bar #mega-menu-wrap-primary #mega-menu-primary li .mega-sub-menu li.mega-menu-item a.mega-menu-link::before{display:none;}
/*home-banner*/
.banner-text{padding:12% 0; text-align:center;}
.banner-text h1{ color:#fff; font-size:60px; font-family: 'open_sansbold';font-weight:100;}
.banner-text a{ background:#fff; font-size:15px;font-family: 'open_sanssemibold'; font-weight:800; color:#548aa0; padding:8px 25px; border-radius:3px; display:inline-block; margin-top:40px;}
.banner-text a:hover{text-decoration:none; background:#578aa2; color:#fff; transition: all 500ms ease;}
/*popup*/
.modal.popup-video .close { cursor:pointer; opacity: 1; color:#578aa2;border: 2px solid #578aa2;height: 35px;width: 35px; position:absolute;border-radius: 50%;font-size: 30px;top: -18px;right: -18px;}
.modal.popup-video iframe{ width:100%; height:500px;}
.modal.popup-video .close:hover{ background:#578aa2; color:#fff; border: 2px solid #578aa2;  transition: all 500ms ease;}
/*home-category*/
.home-category{ background:#f4f4f4; padding:60px 0; width:100%; display:inline-block; text-align:center;}
.home-category h2{ font-size:29px; color:#464646;font-family: 'open_sansbold';  margin-bottom:60px;}
.category-one .thumbnail{padding:0px; border:none; margin-bottom:0px;}
.category-one .thumbnail span{ height:180px; width:100%; display:inline-block; overflow:hidden; float:left;}
.category-one .thumbnail span img{ height:100%; width:100%; -webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;}
.category-one .thumbnail:hover img{-webkit-transform: scale(1.2);transform: scale(1.2);}
.category-one .thumbnail .caption{ border-top:7px solid #aac2a9; float:left; width:100%; background:#fff; padding:30px 40px;}
.category-one .thumbnail .caption h3{font-size:21px; color:#464646;font-family: 'open_sansbold';}
.category-one .thumbnail .caption p{font-size:16px; color:#636363; font-family: 'open_sansregular'; padding:15px 0;}
.category-one .thumbnail .caption a{ display:inline-block; border-radius:5px;font-size:14px; color:#fff; font-family: 'open_sansbold'; background:#aac2a9; text-transform:uppercase; padding:8px 20px;}
.category-one .thumbnail .caption a:hover{ background:#464646; color:#fff;transition: all 500ms ease;}
.category-one .thumbnail .caption.orange{ border-top:7px solid #f4bc49;}
.category-one .thumbnail .caption.orange a{ background:#f4bc49;}
.category-one .thumbnail .caption.orange a:hover{ background:#464646; color:#fff;transition: all 500ms ease;}
.category-one .thumbnail .caption.green{ border-top:7px solid #5488a0;}
.category-one .thumbnail .caption.green a{ background:#5488a0;}
.category-one .thumbnail .caption.green a:hover{ background:#464646; color:#fff;transition: all 500ms ease;}
/*home-text*/
.home-text{padding:60px 0;}
.home-text h2{ font-size:40px; color:#464646; font-family: 'open_sansbold';}
.home-text p{ font-size:15px; color:#636363; font-family: 'open_sansregular';}
/*footer*/
footer{margin-bottom:100px;}
.contact-arrow{ text-align:center;}
.contact-arrow span{ background:#f4f4f4; text-align:center; height:35px; width:35px; display:inline-table; margin-top:-20px; cursor:pointer;}
.contact-arrow span i{ font-size:24px; color:#626262; vertical-align:middle; display:table-cell;}
.contact-form-field{background:#f4f4f4; padding:60px 0 40px 0; text-align:center;}
.contact-form-field h2{ color:#5a879e; font-size:29px; font-family: 'open_sansbold';}
.contact-form-field p{ color:#636363; font-size:16px; font-family: 'open_sansregular'; padding-top:20px; width:75%; margin:auto;}
.form-value{ width:80%; margin:auto;}